<mat-card>
    <mat-card-title>Novo Contato</mat-card-title>
</mat-card>
<form>
    <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="contact.name" name="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Telefone" [(ngModel)]="contact.phone" name="phone">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Endereço" [(ngModel)]="contact.address" name="address">
    </mat-form-field>
</form>
<div class="line_button">
    <button mat-raised-button (click)="createContact()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>