form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

button {
    margin-right: 20px 15px 0px 0px;
} 

.line_button {
    display: flex;
    justify-content: space-between;
    width: 21%;
}